{% extends "public_html.html" %}
{% block title %}
    电影网站 | 个人资料
{% endblock %}
{% block nav_index_active %}active{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-2">
              <!-- 判断是否登录，如果未登录，则跳转到首页 -->
              {% if user.is_authenticated %}
                  <h2>{{ user.username }}</h2>
                  <ul>
                    <li>
                      <li>昵称：{{ user.get_nickname }}<a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}">修改昵称</a></li>
                      邮箱：{% if user.email %}{{  user.email }}{% else %}未<a href="{% url 'bind_email' %}?from={{ request.get_full_path }}">绑定</a>邮箱{%  endif %}
                    </li>
                    <li>上一次登录时间：{{ user.last_login | date:"Y-m-d H:i:s" }}</li>
                    <li><a href="{% url 'change_passwd' %}">修改密码</a></li>
                  </ul>
              {% else %}
                <span>未登录。亲，先
                  <a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a></span>
              {% endif %}
            </div>
        </div>
    </div> 
{% endblock %}

