{% extends 'public_html.html' %}
{# 页面标题 #}
{% block title %}个人电影网站{% endblock %}
{% block nav_movie_active %}active{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% load like_tags %}

{% block header-extend %}
<link rel="stylesheet" type="text/css" href="{% static 'movie/movie.css' %}">
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class='col-xs-12 col-sm-8 col-md-9 col-lg-10'>
                <div class="panel panel-default">
                    <div class="panel-heading">{% block movie_type_title %}电影列表{% endblock %}</div>
                    <div class="panel-body">
                        {% for movielistbox in movielist %}
                        <div class="movie">
                            <h3><a href="{% url 'movie_details' movielistbox.pk %}">{{ movielistbox.title }}</a></h3> 
                            {# 使用truncatechars方法，在页面只展示前X个字 #} 
                            <p class="movie-info">
                                  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                ：<a href="{% url 'movie_type' movielistbox.movie_type.pk %}">{{ movielistbox.movie_type }}</a>&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>：{{ movielistbox.create_time | date:"Y-m-d" }}&nbsp;&nbsp;
                                阅读数：{{ movielistbox.get_read_num }}&nbsp;&nbsp;
                                <!-- 评论的使用templatetage，格式：方法名+传入的对象 -->
                                评论：（{% get_comment_num movielistbox %}）&nbsp;&nbsp;
                                点赞数：（{% get_like_num movielistbox %}）
                            </p>
                            <p>{{ movielistbox.content |striptags | truncatechars:60 }}</p>
                        </div>
                        {% empty %}
                        <div class="movie">
                            <h3>----暂无电影，敬请期待！----</h3>
                        </div>
                        {% endfor %}                     
                    </div>
                </div>
                <div class="paginator">
                    <ul class="pagination">
                        {# 上一页 #}
                        <li>
                            {% if page_of_movies.has_previous %}
                                <a href="?page={{ page_of_movies.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        {# 全部页码 #}  
                            {% for page_num in current_page_range %}
                                {% if page_num == page_of_movies.number %}
                                    <li class="active"><a>{{ page_num }}</a></li>
                                {% else %}
                                    {% if page_num == '...' %}
                                    <li><a>{{ page_num }}</a></li>
                                    {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {# 下一页 #}
                        <li>
                            {% if page_of_movies.has_next %}
                                <a href="?page = {{ page_of_movies.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                    <p>
                        共有{{ page_of_movies.paginator.count }}篇电影，
                                当前第{{ page_of_movies.number }}页，共有{{ page_of_movies.paginator.num_pages }}页
                    </p>
                </div>
            </div>
            <div class='hidden-xs col-sm-4 col-md-3 col-lg-2'>
                <div class="panel panel-default">
                    <div class="panel-heading">电影分类</div>
                        <div class="panel-body">
                            <ul class="movie-types">
                               {% for movie_type in movie_types %}
                               <li>
                                <a href="{% url 'movie_type' movie_type.pk %}">
                                    {{ movie_type.type_name }}({{ movie_type.movie_count }})
                                </a>
                               </li>
                               {% empty %}
                                <li>暂无电影</li>
                               {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="panel pabel-default">
                        <div class="panel-heading">按月归档</div>
                        <div class="panel-body">
                            <ul>
                                {% for movie_date, movie_count in movie_dates.items %}
                                <li>
                                    <a href="{% url 'movie_with_date' movie_date.year movie_date.month %}">{{ movie_date | date:"Y年m月" }}({{ movie_count }})</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
